[Unit]
Description=Eagle-go monitoring
Documentation=https://github.com/cloudsark/go-eagle
Wants=network.target
After=network.target

[Service]
Environment="SLACK_TOKEN="
Environment="SLACK_CHANNEL="
Environment="CLIENT_USERNAME="
Environment="CLIENT_PASSWORD="
Environment="MONGO_DB="
Environment="MONGO_USER="
Environment="MONGO_PASSWORD="
Environment="MONGO_URL="
Environment="MONGO_PARM="
Type=simple
WorkingDirectory=/path-to-eagle-directory
ExecStart=/path-to-eagle-directory/go-eagle
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target